name: Deploy to VPS

on:
  push:
    branches: [main]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Deploy to server
        uses: appleboy/ssh-action@v1.2.0
        with:
          host: 66.151.33.167
          username: root
          key: ${{ secrets.VPS_SSH_KEY }}
          script: |
            cd /root/nexus_project
            git pull origin main
            cd infrastructure
            docker compose down
            docker compose up -d --build
